NuaaTimeTable/NuaaDedWebService.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ded.nuaa.edu.cn" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://ded.nuaa.edu.cn" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ded.nuaa.edu.cn">
      <s:element name="GetUsrInfoByUserID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsrInfoByUserIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsrInfoByUserIDResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStuInfoByXh">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xh" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStuInfoByXhResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStuInfoByXhResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTeacherInfoByXh">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsh" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTeacherInfoByXhResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTeacherInfoByXhResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetXsmList">
        <s:complexType />
      </s:element>
      <s:element name="GetXsmListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetXsmListResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentXlInfo">
        <s:complexType />
      </s:element>
      <s:element name="GetCurrentXlInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentXlInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeXlInfoByDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="month" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="day" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeXlInfoByDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GeXlInfoByDateResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBjKb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xq" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="week" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBjKbResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBjKbResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBjKbAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xq" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bh" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBjKbAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBjKbAllResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCourseTableByXh">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xq" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xh" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCourseTableByXhResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCourseTableByXhResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Verify">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HasedPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerifyResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUsrInfoByUserIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsrInfoByUserID" />
  </wsdl:message>
  <wsdl:message name="GetUsrInfoByUserIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsrInfoByUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetStuInfoByXhSoapIn">
    <wsdl:part name="parameters" element="tns:GetStuInfoByXh" />
  </wsdl:message>
  <wsdl:message name="GetStuInfoByXhSoapOut">
    <wsdl:part name="parameters" element="tns:GetStuInfoByXhResponse" />
  </wsdl:message>
  <wsdl:message name="GetTeacherInfoByXhSoapIn">
    <wsdl:part name="parameters" element="tns:GetTeacherInfoByXh" />
  </wsdl:message>
  <wsdl:message name="GetTeacherInfoByXhSoapOut">
    <wsdl:part name="parameters" element="tns:GetTeacherInfoByXhResponse" />
  </wsdl:message>
  <wsdl:message name="GetXsmListSoapIn">
    <wsdl:part name="parameters" element="tns:GetXsmList" />
  </wsdl:message>
  <wsdl:message name="GetXsmListSoapOut">
    <wsdl:part name="parameters" element="tns:GetXsmListResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrentXlInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentXlInfo" />
  </wsdl:message>
  <wsdl:message name="GetCurrentXlInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentXlInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GeXlInfoByDateSoapIn">
    <wsdl:part name="parameters" element="tns:GeXlInfoByDate" />
  </wsdl:message>
  <wsdl:message name="GeXlInfoByDateSoapOut">
    <wsdl:part name="parameters" element="tns:GeXlInfoByDateResponse" />
  </wsdl:message>
  <wsdl:message name="GetBjKbSoapIn">
    <wsdl:part name="parameters" element="tns:GetBjKb" />
  </wsdl:message>
  <wsdl:message name="GetBjKbSoapOut">
    <wsdl:part name="parameters" element="tns:GetBjKbResponse" />
  </wsdl:message>
  <wsdl:message name="GetBjKbAllSoapIn">
    <wsdl:part name="parameters" element="tns:GetBjKbAll" />
  </wsdl:message>
  <wsdl:message name="GetBjKbAllSoapOut">
    <wsdl:part name="parameters" element="tns:GetBjKbAllResponse" />
  </wsdl:message>
  <wsdl:message name="GetCourseTableByXhSoapIn">
    <wsdl:part name="parameters" element="tns:GetCourseTableByXh" />
  </wsdl:message>
  <wsdl:message name="GetCourseTableByXhSoapOut">
    <wsdl:part name="parameters" element="tns:GetCourseTableByXhResponse" />
  </wsdl:message>
  <wsdl:message name="VerifySoapIn">
    <wsdl:part name="parameters" element="tns:Verify" />
  </wsdl:message>
  <wsdl:message name="VerifySoapOut">
    <wsdl:part name="parameters" element="tns:VerifyResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="GetUsrInfoByUserID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据用户id获取对应的用户的基本信息（用户类型、用户姓名、是否被禁用）</wsdl:documentation>
      <wsdl:input message="tns:GetUsrInfoByUserIDSoapIn" />
      <wsdl:output message="tns:GetUsrInfoByUserIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStuInfoByXh">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据给予的学号，返回该学号对应学生的基本学籍信息（年级、学院、班级、是否在校、是否有学籍）</wsdl:documentation>
      <wsdl:input message="tns:GetStuInfoByXhSoapIn" />
      <wsdl:output message="tns:GetStuInfoByXhSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTeacherInfoByXh">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据给予的教师工号，返回教师的基本信息（工号、姓名、所在单位）</wsdl:documentation>
      <wsdl:input message="tns:GetTeacherInfoByXhSoapIn" />
      <wsdl:output message="tns:GetTeacherInfoByXhSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetXsmList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取单位的基本信息（系所号、系所名、系所名简称、英文名、单位性质）</wsdl:documentation>
      <wsdl:input message="tns:GetXsmListSoapIn" />
      <wsdl:output message="tns:GetXsmListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentXlInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取当天校历信息(日期、学年、学期、周次、备注&lt;寒暑&gt;)</wsdl:documentation>
      <wsdl:input message="tns:GetCurrentXlInfoSoapIn" />
      <wsdl:output message="tns:GetCurrentXlInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GeXlInfoByDate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据日期获取校历信息(日期、学年、学期、周次、备注&lt;寒暑&gt;)</wsdl:documentation>
      <wsdl:input message="tns:GeXlInfoByDateSoapIn" />
      <wsdl:output message="tns:GeXlInfoByDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBjKb">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据给予的班号和查询时间返回课表,某一节次（jc为单个数字）的课程名</wsdl:documentation>
      <wsdl:input message="tns:GetBjKbSoapIn" />
      <wsdl:output message="tns:GetBjKbSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBjKbAll">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据给予的班号的学期课表</wsdl:documentation>
      <wsdl:input message="tns:GetBjKbAllSoapIn" />
      <wsdl:output message="tns:GetBjKbAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCourseTableByXh">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据给予的学号的个人课表——本功能在测试中</wsdl:documentation>
      <wsdl:input message="tns:GetCourseTableByXhSoapIn" />
      <wsdl:output message="tns:GetCourseTableByXhSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Verify">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">验证用户名和密码是否正确，如果用户名不存在或者密码错误均返回False，只有用户名和密码匹配才返回True</wsdl:documentation>
      <wsdl:input message="tns:VerifySoapIn" />
      <wsdl:output message="tns:VerifySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsrInfoByUserID">
      <soap:operation soapAction="http://ded.nuaa.edu.cn/GetUsrInfoByUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStuInfoByXh">
      <soap:operation soapAction="http://ded.nuaa.edu.cn/GetStuInfoByXh" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeacherInfoByXh">
      <soap:operation soapAction="http://ded.nuaa.edu.cn/GetTeacherInfoByXh" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXsmList">
      <soap:operation soapAction="http://ded.nuaa.edu.cn/GetXsmList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentXlInfo">
      <soap:operation soapAction="http://ded.nuaa.edu.cn/GetCurrentXlInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeXlInfoByDate">
      <soap:operation soapAction="http://ded.nuaa.edu.cn/GeXlInfoByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBjKb">
      <soap:operation soapAction="http://ded.nuaa.edu.cn/GetBjKb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBjKbAll">
      <soap:operation soapAction="http://ded.nuaa.edu.cn/GetBjKbAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseTableByXh">
      <soap:operation soapAction="http://ded.nuaa.edu.cn/GetCourseTableByXh" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Verify">
      <soap:operation soapAction="http://ded.nuaa.edu.cn/Verify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsrInfoByUserID">
      <soap12:operation soapAction="http://ded.nuaa.edu.cn/GetUsrInfoByUserID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStuInfoByXh">
      <soap12:operation soapAction="http://ded.nuaa.edu.cn/GetStuInfoByXh" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeacherInfoByXh">
      <soap12:operation soapAction="http://ded.nuaa.edu.cn/GetTeacherInfoByXh" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXsmList">
      <soap12:operation soapAction="http://ded.nuaa.edu.cn/GetXsmList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentXlInfo">
      <soap12:operation soapAction="http://ded.nuaa.edu.cn/GetCurrentXlInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeXlInfoByDate">
      <soap12:operation soapAction="http://ded.nuaa.edu.cn/GeXlInfoByDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBjKb">
      <soap12:operation soapAction="http://ded.nuaa.edu.cn/GetBjKb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBjKbAll">
      <soap12:operation soapAction="http://ded.nuaa.edu.cn/GetBjKbAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseTableByXh">
      <soap12:operation soapAction="http://ded.nuaa.edu.cn/GetCourseTableByXh" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Verify">
      <soap12:operation soapAction="http://ded.nuaa.edu.cn/Verify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://ded.nuaa.edu.cn/NetEa/Services/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://ded.nuaa.edu.cn/NetEa/Services/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
